/* Container chính */
.product-container-page {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}

/* Tiêu đề trang */
.product-title-page {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Hiển thị sản phẩm theo hàng ngang (grid) */
.product-grid-page {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* 3-4 sản phẩm trên mỗi hàng */
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.navigate-link-product-page {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.link-product-page {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.link-product-page:hover {
  color: red;
  text-decoration: underline;
}
.Loading_Product_product_page {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.link-product-page-selected {
  color: red;
  text-decoration: underline;
}

.link-product-page-Unselected {
  color: black;
}
/* .text_infomation_product_to_category{
  height: 500px;
} */