.Dienthoai-home_page_card {
  background-color: white;
  
}
.Iphone-home_page_card {
  display: flex;
  margin-bottom: 15px;
}

.Samsung-home_page_card {
  margin-bottom: 15px;
  display: flex;
}
.Dienthoai-noibat-nhat {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

