.Dienthoai-home_page_card {
  background-color: white;
  overflow-x: hidden;
  
}
.Iphone-home_page_card {
  display: flex;
  margin-bottom: 15px;
  overflow-x: hidden;
}

.Samsung-home_page_card {
  margin-bottom: 15px;
  display: flex;
  overflow-x: hidden;
}
.Dienthoai-noibat-nhat {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
}